<%= link_to 'New Player', new_player_path %>
<input id="reset" type="button" value="Reset" style="margin-left:40px;" />

<table>
  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.name %></td>
        
        <td><%= link_to 'Show', player %></td>
        <td><%= link_to 'Edit', edit_player_path(player) %></td>
        <td><%= link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="messages">
 </div>
  <div class="turn"></div>
  <table>
  <tr>
      <td class="item" id="item1"></td>
      <td class="item" id="item2"></td>
      <td class="item" id="item3"></td>
  </tr>
  <tr>
    <td class="item" id="item4"></td>
    <td class="item" id="item5"></td>
    <td class="item" id="item6"></td>
  </tr>
  <tr>
    <td class="item" id="item7"></td>
    <td class="item" id="item8"></td>
    <td class="item" id="item9"></td>
  </tr>
</table>
<span class="whosenext"></span>
<span class="iwon"></span>
</div>
<br />
